<h1>Find a Job</h1>

<div class="row">
    <div class="col-md-12">

        <div class="form-group">
            <label>Location</label>
            <sebm-google-map
                    [latitude]="lat"
                    [longitude]="lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    [zoomControl]="false"
                    (mapClick)="mapClicked($event)">

                <sebm-google-map-marker
                        *ngFor="let m of markers; let i = index"
                        (markerClick)="clickedMarker(m.label, i)"
                        [latitude]="m.lat"
                        [longitude]="m.lng"
                        [label]="m.label"
                        [markerDraggable]="m.draggable"
                        (dragEnd)="markerDragEnd(m, $event)">

                    <sebm-google-map-info-window>
                        <strong>InfoWindow content</strong>
                    </sebm-google-map-info-window>

                </sebm-google-map-marker>
                <sebm-google-map-marker
                        *ngFor="let m of jobs | async; let i = index"
                        [latitude]="m.location[1]"
                        [longitude]="m.location[0]"
                        [label]="m.title"
                      >

                    <sebm-google-map-info-window>
                        <strong>{{m.title}}</strong> <br/>
                        <input type="button" value="Apply" />
                    </sebm-google-map-info-window>

                </sebm-google-map-marker>

                <sebm-google-map-marker [latitude]="lat" [longitude]="lng" title="Central point">
                    <sebm-google-map-info-window [disableAutoPan]="true">
                        Your Approximiate location
                    </sebm-google-map-info-window>
                </sebm-google-map-marker>

            </sebm-google-map>


        </div>
    </div>
</div>