<h1>My Jobs</h1>
<div class="row">
    <label class="row">Jobs I Applied to</label>
    <div class="col-md-12">
        <ul>
            <li *ngFor="let m of appliedJobs | async | matchfilter:cancelledIds; let i = index" class="applied_job">
                            <strong style="text-transform: capitalize;">{{m.title}}</strong> <br/>
                            <div><strong>Category: </strong>{{m.category}}</div>
                            <div><strong>Employer: </strong>{{m.employer}}</div>
                            <div><strong>Start Date: </strong>{{m.start_datetime | date:"MM/dd/yy"}}</div>
                            <div><strong>End Date: </strong>{{m.end_datetime | date:"MM/dd/yy"}}</div>
                            <div><strong>Description: </strong>{{m.description}}</div>
                            <div *ngIf="m.assigned_to"><strong>Assignee: </strong><span style="color: green">{{m.assigned_to}}</span></div>
                            <div><strong>Status: </strong>{{getJobStatus(m)}}</div>
                            <div *ngIf="getJobStatus(m) == 'pending' "><button class="btn btn-default" (click)="cancelJobApplication(m._id)" >Cancel Applcation</button></div>
                            
            </li>
            <li *ngIf="(appliedJobs | async | matchfilter:cancelledIds)?.length==0">No Job applications yet</li>
        </ul>
    </div>
</div>

<div class="row">
    <label class="row">Jobs I posted</label>
    <div class="col-md-12">
        <ul>
            <li *ngFor="let m of postedJobs | async | matchfilter:cancelledIds; let i = index" class="applied_job">
                            <strong style="text-transform: capitalize;">{{m.title}}</strong> <br/>
                            <div><strong>Category: </strong>{{m.category}}</div>
                            <div><strong>Employer: </strong>{{m.employer}}</div>
                            <div><strong>Start Date: </strong>{{m.start_datetime | date:"MM/dd/yy"}}</div>
                            <div><strong>End Date: </strong>{{m.end_datetime | date:"MM/dd/yy"}}</div>
                            <div><strong>Description: </strong>{{m.description}}</div>
                            <div *ngIf="m.assigned_to != null"><strong>Assignee: </strong><span style="color: green">{{m.assigned_to}}</span></div>
                            <div><strong>Status: </strong>{{getJobStatus(m)}}</div>
                            <div><select #applicants>
                                <option value="Unassigned" >Unassigned</option>
                                <option *ngFor="let a of m.applicants" [selected]="a == m.assigned_to">{{a}}</option>
                                </select>&nbsp;<button class="btn btn-default" (click)="assignJobApplication(m._id,applicants.value);m.assigned_to = applicants.value=='Unassigned'?null:applicants.value " >Assign</button></div>
                            
            </li>
            <li *ngIf="(postedJobs | async | matchfilter:cancelledIds)?.length==0">No Job applications yet</li>
        </ul>
    </div>
</div>