<h1>Find a Job</h1>
<div class="row">
    <div class="col-md-12">

        <div class="form-group">
            <label>Location</label> <span style="color: red">{{message}}</span>
            <sebm-google-map
                    [latitude]="lat"
                    [longitude]="lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    [zoomControl]="true"
                    (centerChange)="refreshJobs($event)">

                <sebm-google-map-marker
                        *ngFor="let m of jobs | async | matchfilter:appliedIds; let i = index"
                        [latitude]="m.location[1]"
                        [longitude]="m.location[0]"
                        [label]="m.category"
                        (markerClick)="registerWindowOpen(infowindow);"
                        iconUrl="/images/map-marker-2-xxl.png"

                      >

                    <sebm-google-map-info-window #infowindow [disableAutoPan]="true">
                        <form method="post" enctype="application/x-www-form-urlencoded">
                            <strong>{{m.title}}</strong> <br/>
                            <div><strong>Category: </strong>{{m.category}}</div>
                            <div><strong>Employer: </strong>{{m.employer}}</div>
                            <div><strong>Start Date: </strong>{{m.start_datetime | date:"MM/dd/yy"}}</div>
                            <div><strong>End Date: </strong>{{m.end_datetime | date:"MM/dd/yy"}}</div>
                            <div><strong>Description: </strong>{{m.description}}</div>
                            <br/>
                            <input type="hidden" name="id" [value]="m._id" />
                            <div style="display: table;margin: 0 auto;">
                                <input type="button" value="Apply" (click)="applyForJob(m._id)"  />
                            </div>
                            
                        </form>
                    </sebm-google-map-info-window>

                </sebm-google-map-marker>

                <sebm-google-map-marker [latitude]="lat" [longitude]="lng" title="Central point">
                    <sebm-google-map-info-window [disableAutoPan]="true">
                        Your Approximiate location
                    </sebm-google-map-info-window>
                </sebm-google-map-marker>

            </sebm-google-map>


        </div>
    </div>
</div>