<h1>Find a Job</h1>
{{jobs | async | json}}
<div class="row">
    <div class="col-md-12">

        <div class="form-group">
            <label>Location</label>
            <sebm-google-map
                    [latitude]="lat"
                    [longitude]="lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    [zoomControl]="false"
                    (centerChange)="refreshJobs($event)">

                <sebm-google-map-marker
                        *ngFor="let m of jobs | async; let i = index"
                        [latitude]="m.location[1]"
                        [longitude]="m.location[0]"
                        [label]="m.title"
                      >

                    <sebm-google-map-info-window>
                        <form method="post" enctype="application/x-www-form-urlencoded">
                            <strong>{{m.title}}</strong> <br/>
                            <div><strong>Category: </strong>{{m.category}}</div>
                            <div><strong>Employer: </strong>{{m.employer}}</div> <br/>
                            <input type="hidden" name="id" [value]="m._id" />
                            <input type="button" value="Apply" (click)="applyForJob(m._id)" />
                        </form>
                    </sebm-google-map-info-window>

                </sebm-google-map-marker>

                <sebm-google-map-marker [latitude]="lat" [longitude]="lng" title="Central point">
                    <sebm-google-map-info-window [disableAutoPan]="true">
                        Your Approximiate location
                    </sebm-google-map-info-window>
                </sebm-google-map-marker>

            </sebm-google-map>


        </div>
    </div>
</div>