<h1>Post a Job</h1><span style="color: red">{{message}}</span>

<form (ngSubmit)="onSubmit()" novalidate *ngIf="active" #postForm="ngForm" id="postForm" >

    <div class="row">

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label for="selCategory">Category</label>
                        <select id="selCategory" name="selCategory" class="form-control"
                                [(ngModel)]="post.category"
                                #selCategory="ngModel"
                                required>
                            <option value=""></option>
                            <option *ngFor="let jc of jobCategories" [value]="jc">{{jc}}</option>
                        </select>
                    </div>

                    <div [hidden]="selCategory.valid || selCategory.pristine" class="alert alert-danger">
                        Category is required
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label for="txtTitle">Title</label>
                        <input type="text" id="txtTitle" name="txtTitle" class="form-control"
                               [(ngModel)]="post.title"
                               #txtTitle="ngModel"
                               required>
                    </div>

                    <div [hidden]="txtTitle.valid || txtTitle.pristine" class="alert alert-danger">
                        Title is required
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label for="txaDescription">Description</label>
                        <textarea id="txaDescription" name="txaDescription" class="form-control"
                                  [(ngModel)]="post.description"
                                  #txaDescription="ngModel"
                                  required></textarea>
                    </div>

                    <div [hidden]="txaDescription.valid || txaDescription.pristine" class="alert alert-danger">
                        Description is required
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label>Starting date</label>

                        <div class="row">
                            <div class="col-xs-5 col-sm-5 col-md-4">
                                <input type="date" id="datStarting" name="datStarting" class="form-control"
                                       [(ngModel)]="post.startingDate"
                                       #startingDate="ngModel"
                                       required>
                            </div>
                        </div>

                        <div [hidden]="startingDate.valid || startingDate.pristine" class="alert alert-danger">
                            Starting date is required
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label>Ending</label>

                        <div class="row">
                            <div class="col-xs-5 col-sm-5 col-md-4">
                                <input type="date" id="datEnding" name="datEnding" class="form-control"
                                       [(ngModel)]="post.endingDate"
                                       #endingDate="ngModel"
                                       required>
                            </div>
                        </div>

                    </div>

                    <div [hidden]="endingDate.valid || endingDate.pristine" class="alert alert-danger">
                        Ending date is required
                    </div>

                </div>
            </div>


        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label>Location (Drag pointer to set location)</label>

                        <sebm-google-map
                                [latitude]="theMarker.lat"
                                [longitude]="theMarker.lng"
                                [zoom]="zoom">

                            <sebm-google-map-marker [latitude]="theMarker.lat"
                                                    [longitude]="theMarker.lng"
                                                    [markerDraggable]="theMarker.draggable"
                                                    (dragEnd)="markerDragEnd($event)">
                            </sebm-google-map-marker>

                        </sebm-google-map>

                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="row">
        <div class="col-md-12 text-center" >
            <button type="submit" class="btn btn-default btn-primary btn-lg" [disabled]=" ! postForm.form.valid">Submit</button>
        </div>
    </div>

</form>